body {
    background-color: chartreuse;
}
label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    white-space:nowrap;
}
input {
    border: hidden;
    font-weight: 600;
    text-align: right;
}

button {
    padding: 5px, 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    background-color: bisque;
}

a {
    text-decoration: none;
}

.buttonRowContainer {
    display: flex;
    flex-direction: row;
    padding: 15px;
    justify-content: space-between;
}
.image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.image {
    height: 350px;
    width: 350px;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

.main-container {
    padding: 10px 0 10px 0;
}

.display-container  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: auto;
    padding-top: 20px;
}
.display-container-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
}

.display-row {
    display: flex;
    flex-direction: row;
}

.make-donut {
    background-color: rgb(212, 149, 85);

}
.resetButton{
    background-color: red;
    flex-direction: column;
    margin-top: 128px;
}

.about-game-content-container {
    background-color: linen;
    max-width: 24ch;
  word-wrap:break-word;
    width: 200px;
    height: 200px;
    z-index: 2;
    display: none;
    position: absolute;
}

.about-creator-content-container {
    background-color: aliceblue;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
    position: relative;
}

.linkedIn {
    height: 20px;
}
.gitHub {
    background-color: blue;
    height: 20px;
}

.portfolio {
    height: 20px;
}
.expand-creator {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}